<div class='book-details'>

  <img class='book-img' src='{{image}}' alt='{{title}}' />
  <h2>Title: {{title}}</h2>
  <h2>Author: {{author}}</h2>

  <a class='edit-btn' href='/{{id}}/edit'>EDIT</a>
</div>